input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2rem;
    padding-top: 1rem;
}
  .container > .search_input {
    font-family: "Sono", monospace; 
    font-size: 16px;
    letter-spacing: 0.01rem;
    /* box-shadow: #00000026 1.95px 1.95px 2.6px;  */
    height: 3.5rem;
    width: 50%;
    border-radius: 8px 8px 8px 8px;
    border: 2px solid #ddd;
    color: rgb(38, 36, 36);
    padding: 12px 20px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  input[type="search"],
  .search_button:focus {
    outline: none;
    border-color: #4CAF50;
  }
  .container > .search_button {
    font-family: "Sono", monospace; 
    font-size: 16px;
    letter-spacing: 0.01rem; 
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; 
    color: #ffffff;
    height: 3.5rem;
    background-color: #4CAF50;
    border-radius: 8px 8px 8px 8px;
  }
  .container > .search_button:hover {
    background-color: #45a049;
  }