/* Card styling */
.saved-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin: 20px auto; 
    color: black;
}

/* List styling */
.saved-card ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.saved-card li {
    padding: 5px 0;
    font-size: 16px;
    color: #333;
}

/* Total calories text */
.saved-card p {
    margin-top: 10px;
    font-weight: bold;
}

/* Button styling */
.saved-button {
    background-color: #28a745; /* Green color */
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

.saved-button:hover {
    background-color: #218838; /* Darker green on hover */
}

.square {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2%;
  }

.flex{
    display: flex;
    align-items:center
}

.placeholder-scales{
    background-color: #a5a2a2;
    font-family: "Sono", monospace; 
  font-size: 50%;
}

.food-name {
    flex-grow: 1;
  }
  
  .remove-button {
    background: none;
    border: none;
    color: red;
    font-size: 14px;
    cursor: pointer;
    margin-left: 8px;
  }
  
  .remove-button:hover {
    background-color: lightcoral;
  }