
.navbar {
  display: block; 
  padding: 10px 0;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  
  z-index: 1000;
}

@media (min-width: 768px) {
  .navbar {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    height: 70px; 
  }
}


.navbar-brand {
  margin-right: auto;   
  margin-top: 30px;  
}


.navbar a {  
  color: white !important;
  text-decoration: none;
  font-size: 30px; 
  font-weight: bold; 
  font-family: "Sono", monospace; 
  letter-spacing: 0.01rem; 
}


.menu {
  display: flex;
  gap: 25px; 
  margin-left: auto;
  padding-right: 30px; 
  font-size: 20px;
}

.nav-item {
  display: flex;
  align-items: center;
  padding-top: 10px;  
  gap: 50px; 
}

.nav-item.login {
  margin-left: 20px; 
  padding-right: 20px; 
  white-space: nowrap; 
}

.nav-item.login a {
  background-color: #4CAF50;
  color: white !important;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}


@media (max-width: 800px) {
  .menu {
    display: none;
  }

  .menu.active {
    display: block;
  }
}


@media (min-width: 768px) {
  .menu {
    display: flex !important;
    position: static;
    background: transparent;
    box-shadow: none;
    width: auto;
    padding: 0;
  }

  .menu ul {
    display: flex;
    gap: 20px; 
    list-style: none;
  }

  .menu ul li a {
    font-size: 20px;
    font-weight: bold;
    color: white !important;
  }

  .menu-icon {
    display: none !important;
  }
}
