.pageContainer {
    padding: 5rem;  
    padding-top: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    place-items: none !important;
}
.searchContainer {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 8px 8px 8px 8px;
    width: 70rem;
    max-width: 100%;
}
.searchContainer > h1 {
    color: black;
    font-family: "Sono", monospace; 
    font-size: 28px;
    letter-spacing: 0.01rem; 
    margin: 0rem;
    padding: 2rem;
    padding-bottom: 0rem;
}
.foodListContainer {
    width: 100%;
}